body {
    background:#FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#FA6DA7;
}

.assignment img {
    width: 175px;
    padding: 10px;
    border: 4px solid #FA6DA7;
}
.assignment img:hover {
    border: 4px dashed #E6D65F;
}

h1 {
    color: #0F3CFA;
    text-align:center;
}
h1:hover {
    color: #8ED4F5; 
}
a {
    text-decoration:none;
    color:#8FD4F5;
}
a:hover {
    color:#E6D65F;
}
